[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-aiohttp = "*"
pytest = "*"

[packages]
aiohttp = "*"
cchardet = "*"
aiodns = "*"
motor = "*"
pymongo = {extras = ["srv"],version = "*"}
aiohttp-middlewares = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
